body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74b9ff, #81ecec);
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search button {
  padding: 10px 15px;
  background: #0984e3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search button:hover {
  background: #0652dd;
}

/* 3 panely */
.panels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Jeden panel */
.panel {
  background: #f1f2f6;
  border-radius: 10px;
  padding: 15px;
}

.panel h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Kartičky */
.card {
  background: white;
  border-radius: 8px;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 35px;
}

.panels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#current .card {
  font-size: 15px;
  justify-content: center;
  text-align: center;
}
